name: BuildItMac
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: macos-11
    steps:
    - name: "Clone source"
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: "Download Qt5"
      run: |
        curl --output qt5.15.8-x86_64-macos-static.tar.xz -L "https://github.com/LeagueToolkit/cslol-manager/releases/download/release23/qt5.15.8-x86_64-macos-static.tar.xz"
        tar xf qt5.15.8-x86_64-macos-static.tar.xz --strip-components 2 -C $HOME
    - name: "Download SHC"
      run: |
        brew install shc
    - name: "Build"
      run: |
        cmake -DCMAKE_PREFIX_PATH=$HOME/qt5.15.8-x86_64-macos-static -DCMAKE_BUILD_TYPE=Release -B build -S .
        cmake --build build
    - name: "Compiled MacOS elevation workaround"
      run: |
        shc -f macos_elevation_fix.sh
    - name: "Package"
      shell: bash
      run: |
        mkdir cslol-manager-macos
        cp LICENSE cslol-manager-macos/
        cp dist/SOURCE.URL cslol-manager-macos/
        cp build/cslol-tools/wad-* cslol-manager-macos/
        cp -R build/cslol-manager.app cslol-manager-macos/
        mkdir cslol-manager-macos/cslol-manager.app/Contents/MacOS/cslol-tools
        cp build/cslol-tools/mod-tools cslol-manager-macos/cslol-manager.app/Contents/MacOS/cslol-tools
        mv macos_elevation_fix.sh.x cslol-manager-macos/cslol-manager.app/Contents/MacOS/macos_elevation_fix
        plutil -replace CFBundleExecutable -string macos_elevation_fix cslol-manager-macos/cslol-manager.app/Contents/Info.plist
        plutil -replace CFBundleName -string macos_elevation_fix cslol-manager-macos/cslol-manager.app/Contents/Info.plist
        tar caf cslol-manager-macos.tar.xz cslol-manager-macos/
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: cslol-manager-macos
        path: cslol-manager-macos.tar.xz
        retention-days: 15
