name: BuildItMac

on:
  release:
    types:
      - created
      - prereleased
      - edited
      - published

jobs:
  build:
    permissions: write-all
    runs-on: macos-11
    steps:
    - name: "Clone source"
      uses: actions/checkout@v3
      with:
        submodules: 'true'
        ref: master

    - name: "Download Qt5"
      run: |
        curl --output qt5.15.8-x86_64-macos-static.tar.xz -L "https://github.com/LeagueToolkit/cslol-manager/releases/download/release23/qt5.15.8-x86_64-macos-static.tar.xz"
        tar xf qt5.15.8-x86_64-macos-static.tar.xz --strip-components 2 -C $HOME

    - name: "Build"
      run: |
        cmake -DCMAKE_PREFIX_PATH=$HOME/qt5.15.8-x86_64-macos-static -DCMAKE_BUILD_TYPE=Release -B build -S .
        cmake --build build

    - name: "Package"
      shell: bash
      run: |
        mkdir cslol-manager-macos
        cp LICENSE cslol-manager-macos/
        cp dist/SOURCE.URL cslol-manager-macos/
        cp build/cslol-tools/wad-* cslol-manager-macos/
        cp -R build/cslol-manager.app cslol-manager-macos/
        cp build/cslol-manager-elevate cslol-manager-macos/cslol-manager.app/Contents/MacOS/
        plutil -replace CFBundleExecutable -string cslol-manager-elevate cslol-manager-macos/cslol-manager.app/Contents/Info.plist
        plutil -replace CFBundleName -string cslol-manager-elevate cslol-manager-macos/cslol-manager.app/Contents/Info.plist
        mkdir cslol-manager-macos/cslol-manager.app/Contents/MacOS/cslol-tools
        cp build/cslol-tools/mod-tools cslol-manager-macos/cslol-manager.app/Contents/MacOS/cslol-tools
        tar caf cslol-manager-macos.tar.xz cslol-manager-macos/

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: cslol-manager-macos
        path: cslol-manager-macos.tar.xz
        retention-days: 15

    - name: 'Upload to Release'
      if: github.event_name == 'release'
      uses: svenstaro/upload-release-action@e74ff71f7d8a4c4745b560a485cc5fdb9b5b999d
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: cslol-manager-macos.tar.xz
        tag: ${{ github.ref }}
        file_glob: true